<div class="container mt-5">
    <div class="inner">
            <div class="row form_holder">
                <h5 class="center-align"> SPORT LOGIN </h5>
    
                <form novalidate #user="ngForm" (ngSubmit)="onLogin(user)">
                    <div class="form-group divclass my-2">
                    <label for="userid">User Id: </label>
                       <input required class="form-control" type="text" name="userid" #userid="ngModel" ngModel placeholder="User Id"> 
                    </div>
                    <div class="form-group divclass my-2">
                        <label for="password">Password: </label>
                        <input type="password" name="password" required class="form-control" #password="ngModel" ngModel placeholder="Password" >  
                    </div>
                    <button type="submit" class="btn-success"  > Login </button>
                    
                </form>
            </div>
    </div>
    </div>