<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div class="inner p-5" style="width:1000px; height:600px; margin-left:100px;">
                <div class="row form_holder p-3" >
                    <h4 class="center-align text-center"><u>SEMS LOGIN </u></h4>
        
                    <form  class="p-5" novalidate #user="ngForm" (ngSubmit)="onLogin(user.value)">
                        <div class="form-group divclass mb-2 my-2">
                        <label for="userid">User Id: </label>
                           <input required class="form-control" type="text" name="userid" #userid="ngModel" ngModel placeholder="User Id"> 
                        </div>
                        <div class="form-group mb-2 my-2">
                            <label for="password">Password: </label>
                            <input type="password" name="password" required class="form-control" #password="ngModel" ngModel placeholder="Password" >  
                        </div>
                        <div class="text-center pt-2">
                        <button type="submit" class="btn btn-outline-success"  > Login </button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>


