<div class="container main">
    <div class=" container m-auto inner text-center">
      <h1 class="text-primary mt-5 mb-4">Sports Event Management Portal</h1>
      
      <button class="btn btn-lg btn-primary mt-4 mb-4" (click)="onEvents()" >Events Dashboard</button><br>
      <button class="btn btn-lg btn-primary mt-4 mb-4" (click)="onSports()" >Sports Dashboard</button><br>
      <button class="btn btn-lg btn-primary mt-4 mb-4" (click)="onPlayers()" >Players Dashboard</button><br>
      <button class="btn btn-lg btn-primary mt-4 mb-4" (click)="onParticipations()" >Participation Dashboard</button>
    </div>
</div>