<div  class="main">
  <div class="inner" >
    <h1 class="text-primary">Add Event</h1>
   <form novalidate #events="ngForm" (ngSubmit)="onSubmit(events)">
      <div class="form-group divclass">
        <label for="name">Event Name <font color="red">*</font> </label>
        <input required  type="text" class="form-control" name="eventName" #eventName="ngModel" placeholder="Event Name"  ngModel>
      </div>
      <div class="form-group divclass">
        <label for="eventDate">Event Date <font color="red">*</font></label>
        <input  required type="date" class="form-control" name="eventDate" #eventDate="ngModel" placeholder="Event Date"ngModel >
      </div>
      <div class="form-group divclass">
        <label for="slots">No. of slots <font color="red">*</font></label>
        <input  required type="number" class="form-control" name="noofSlots" #noofSlots="ngModel" placeholder="No. of slots" ngModel>
      </div>
     
      
      <div class="form-group divclass">
        <label for="sports">Sports Name <font color="red">*</font></label>
      <select required  class="form-select" name="sportsName" #sportsName="ngModel" ngModel >
        <option value="{{sports['sportsName']}}"  *ngFor="let sports of sport;let i=index">
          {{sports.sportsName}}

        </option>
      </select>
      </div>



      
      <button type="submit" class="btn btn-primary divclass">Submit</button>
      <button  class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>

